-- Add missing columns to cars table
ALTER TABLE public.cars ADD COLUMN IF NOT EXISTS exterior_color text;
ALTER TABLE public.cars ADD COLUMN IF NOT EXISTS interior_color text;
ALTER TABLE public.cars ADD COLUMN IF NOT EXISTS body_type text;
ALTER TABLE public.cars ADD COLUMN IF NOT EXISTS engine text;
ALTER TABLE public.cars ADD COLUMN IF NOT EXISTS horsepower integer;
ALTER TABLE public.cars ADD COLUMN IF NOT EXISTS seller_name text;
ALTER TABLE public.cars ADD COLUMN IF NOT EXISTS seller_email text;
ALTER TABLE public.cars ADD COLUMN IF NOT EXISTS seller_phone text;
